<header>
  <h1><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h1>
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <p class="post-meta">
    <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
    {%- if include.post.content -%}
      <span class="meta-sep"> · </span>
      <span class="reading-time">{%- include reading-time.html content=include.post.content -%}</span>
    {%- endif -%}
  </p>
</header>
